.countdownCircle {
  width: 50%;
  height: 50%;
  position: relative;
  margin: 20px 25%;
}

.countdownCircle__innerText {
  position: absolute;
  left: 0;
  top: 25%;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .countdownCircle {
    width: 75%;
    height: 75%;
    margin: 10px 11%;
  }
  .countdownCircle__innerText {
    top: 30%;
    line-height: 50px;
    font-size: 42px;
  }
}
