.Timer {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.time {
  font-size: 30px;
}
.time-wrapper {
  line-height: 20px;
}
.time-wrapper .words {
  font-size: 15px;
}
