.fade-in {
  animation: fadeIn 4s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 4s ease-in-out forwards;
}

.header__image {
  height: 350px;
  /*padding-top: 250px !important;
  padding-bottom: 150px !important;*/
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
background-color: #110324;
}

@media  only screen and (max-width: 1500px) {
  .header__image {
    height: 280px;

  }
}
@media  only screen and (max-width: 1200px) {
  .header__image {
    height:             220px;

  }
}
@media  only screen and (max-width: 1000px) {
  .header__image {
    height: 180px;

  }
}
@media  only screen and (max-width: 678px) {
  .header__image {
    height: 130px;

  }
}
@media  only screen and (max-width: 450px) {
  .header__image {
    height: 80px;

  }
}