.aboutText{
  text-align: left;
  line-height: 25px;
  font-size: 16px;
  height: 200px;
  overflow: scroll;
  padding-bottom: 30px;
}
#teams  {
  height: 600px;
  overflow: scroll;
}
.timeisup {
  font-size: 2rem;
  text-align: center;
  color: $primary;
  padding: 20px 0 0;
  letter-spacing: 0.3px;
  line-height: 2.5rem;
}
@media only screen and (max-width: 600px) {

  #teams  {
    height: 300px;
  }
  ul#teams__ul {
    padding-left: 0;
  }
}