.donatebox {

border: solid 1px black;
padding: 10px;
margin-top:20px;
font-size: 18px;
text-align: center;
border-radius: 8px;
-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

#teams-list {
    margin: 0;
    padding: 0;
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    overflow-y: scroll;
}

#teams-list li {
    list-style: none;
    min-height: 100px;
    float: left;
    margin-top: 15px;
    vertical-align: middle;
}
.teambox {
    border: solid thin #bbb;
    padding: 15px;
    display: block;
    border-radius: 10px;
    height: 100%;
    letter-spacing: .5px;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
}
.teamgoallisting strong {
    font-size: 22px;
    line-height: 1.5;
}
#teams-list a {
    text-decoration: none;;
}