.rightColumn small {
  font-style: italic;
  font-size: 70%;
  display: inline-block;
  padding-top: 0.5rem;
}
.totalAmount {
  font-size: 36px;
  color: $primary;

  font-weight: bold;
  margin-top: 30px;
}
.goal {
  font-size: 36px;
  color: $primary;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .totalAmount,
  .goal {
    display: inline;
    font-size: 32px;
  }
  .goal {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  #sortFilter {
    padding-top: 5px;
  }
}
