body {
  font-family: "Roboto", serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.btn-primary {
  background-color: $primary;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: $secondary;
}

.div--box {
  border: solid 1px black;
  padding: 10px;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
